h1,h2,h3,h4,p,a,button{
  /* letter-spacing: 1px; */
}
h1,h2,h3,h4{

}
p{
  line-height: 0.9;
  font-family: 'Kittithada Medium 65 (  65)';
}
body.modal-open {
  overflow: visible;
}
.hidden-desktop{
  display: none;
}
.hidden-mobile{
  display:block;
}
.clear-padding{
  padding: 0;
}
.underline{
  width: 250px;
  height: 4px;
  background-color: #F43B4F;
  border-radius: 2px;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
.center{
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.morningstar{
  height: 20px;
}
.main-btn{
  color:#000 !important;
  font-size:28px;
  background: rgb(158,183,202);
  line-height: 1;
  background: linear-gradient(90deg, rgba(158,183,202,1) 0%, rgba(222,233,239,1) 100%);
  padding: 2px 16px;
  border-radius: 20px;
  border:none;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  text-decoration: none;
  display: inline-block;
  font-family: 'Kittithada Bold 75 (  75)';
}
.main-btn:hover{
  text-decoration: none;
}
.second-btn{
  font-size:25px;
  background: #F43B4F;
  line-height: 1;
  padding: 2px 16px;
  border-radius: 20px;
  border:none;
  font-weight: bold;
  color: white !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  text-decoration: none;
  display: inline-block;
  font-family: 'Kittithada Bold 75 (  75)';
}
.second-btn:hover{
  text-decoration: none;
}
.text{
  font-size: 28px;
  color:white;
}
.padding-top{
  padding-top: 90px;
}
.section-1{
  padding: 120px 0 20px;
  background-image: url(../images/bg/uob-background-crop.png);
  background-position: center;
  background-size: cover;
}
.s1-title{
  font-size:60px;
  line-height: 0.8;
  /* font-weight: bold; */
  font-family: 'Kittithada Medium 65 (  65)';
}
.section-1 .text>span{
  font-family: 'Kittithada Medium 65 (  65)';
}
.section-1 .text{
  font-family: 'Kittithada Bold 75 (  75)';
}
.section-1 .text small{
  font-family: 'PSL Kittithada Pro ()';
  font-weight: bold;
}
.section-1 .text small span{
  font-family: 'Kittithada Bold 75 (  75)';
  font-weight: normal;
}
.section-1 .desc .small{
  font-family: 'Kittithada Medium 65 (  65)';
  font-weight: normal;
}
.section-1 .desc .small2{
  font-family: 'Kittithada Medium 65 (  65)';
  font-weight: normal;
}
.section-1 .main-btn{
  margin: 15px 0;
}
.s1-btn-inner-box{
  display: flex;
  justify-content: space-between;
  width: 343px;
}
.section-1 .s1-btn-inner-box .second-btn{
  margin: 5px 0px 0 0;
  padding: 3px 0px 4px;
  text-align: center;
  width: 47%;
}
.section-1 .video{
  padding-bottom: 56.3%;
  position: relative;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
}
.section-1 .video iframe{
  width: 100%;
  height: 100%;
  position: absolute;
}
.section-1 .desc{
  margin: 30px 0;
}

.section-2{
  /* background: rgb(43,35,136); */
  /* background: linear-gradient(90deg, rgba(43,35,136,1) 21.91%, rgba(35,31,114,1) 74.48%, rgba(15,47,92,1) 100%); */
  background-image: url(../images/section1/bgsec2.png);
  background-position: center;
  background-size: cover;
  padding: 90px 0 60px;
}
.s2-title{
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  font-family: 'PSL Kittithada Pro ()';
}
.s2-subtitle{
  font-size: 54px;
  text-align: center;
  color:white;
  font-weight: bold;
  font-family: 'PSL Kittithada Pro ()';
}
.section-2 .row{
  padding-top: 30px; 
}
.section-2 .img-box{
   position: relative;
}
.section-2 .img-box img{
  position: relative;
  z-index: 10;
}
.section-2 .img-box .border-img{
  position: absolute;
  top:30px;
  right: -50px;
  width: 80%; 
  height: 50%;
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-image: url(../images/section1/กรอบ.png);
}
.section-2 .s2-ul{
  list-style: none;
  padding-left: 0;
}
.section-2 .det-box{
  padding-left: 50px;
}
.section-2 .det-box .small{
  margin-left: 15px;
  margin-top: 30px;
  font-size: 24px;
}
.section-2 .s2-ul .s2-li{
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.section-2 .s2-ul .s2-li img{
  width: 50px;
  height: 50px;
  margin: 0px 15px 0;
}
.section-2 .s2-ul .s2-li p{
  margin-bottom: 0;
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Kittithada Bold 75 (  75)';
}
.section-2 .btn-container{
  margin-top: 40px;
}
.section-2 .btn-container .btn-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 .btn-container .btn-box .main-btn{
  margin: 0 15px;
  padding: 0 30px;
}

.section-3{
  padding: 80px 0 90px;
  background-position: bottom;
  background-size: cover;
  background-image: url(../images/section3/bg-1.png);
}
.section-3 .s3-title{
  font-size: 120px;
  font-weight: normal;
  line-height: 0.8;
  font-family: 'Agenda';
}
.section-3 .number{
  background-image: url(../images/section3/กรอบ.png);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 15px;
  float: right;
}
.section-3 .number p{
  text-align: center;
}
.section-3 .number p.big{
  font-size: 120px;
  font-weight: normal;
  line-height: 0.4;
} 
.section-3 .s2-ul{
  list-style: none;
  padding-left: 0;
}
.section-3 .s2-ul .s2-li{
  margin: 30px 0;
  display: flex;
  align-items: center;
}
.section-3 .s2-ul .s2-li img.icon{
  width: 50px;
  height: 50px;
  margin: 0px 15px 0;
}
.section-3 .s2-ul .s2-li p{
  margin-bottom: 0;
  display: inline-block;
  font-weight: normal;
  font-size: 30px;
  font-family: 'Kittithada Bold 75 (  75)';
}
.section-3 .s2-ul .s2-li p small{
  font-family: 'Kittithada Medium 65 (  65)';
}

.section-spec{
  padding: 40px 0;
  background-image: url(../images/section3.2/bg.png);
  background-position: center;
  background-size: cover;
}
.section-spec h4{
  color: white;
  font-size: 32px;
  display: inline-block;
  font-family: 'Kittithada Bold 75 (  75)';
}
.play{
}
.play img{
  width: 80px;
  height: 80px;
}
.section-spec .between{
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.section-spec .between .main-btn{
  margin-right: 15px;
}
.flex{
  margin-top: 30px;
  display: flex;
}
.flex-1{
  margin-left: 15px;
  min-width: 70px;
  font-family: 'Kittithada Bold 75 (  75)';
}
.flex-2 p{
  font-family: 'Kittithada Medium 65 (  65)';
}
.flex-2 p span{
  font-family: 'Kittithada Medium 65 (  65)';
}


.section-4{
  padding: 60px 0 90px;
  background-image: url(../images/section4/bg.png);
}


.section-5{
  padding: 40px 0 90px;
  background-color: rgb(43,35,136);
background-color: linear-gradient(90deg, rgba(43,35,136,1) 0%, rgba(5,17,33,0.74) 100%);
  background-image: url(../images/section5/shadow-lightblue.png);
  background-position-y: 0;
  background-position-x: center;
  background-size: cover;
}
.s5-title{
  font-size: 55px;
  color:white;
  text-align: center;
  font-family: 'Kittithada Bold 75 (  75)';

}
.s5-title2{
  font-size: 55px;
  color:white;
  text-align: center;
  font-family: 'Kittithada Medium 65 (  65)';
}
.s5-title2-edit{
  font-size: 55px;
  color:white;
  text-align: center;
  font-family: 'Kittithada Medium 65 (  65)';
  font-weight: normal;
  margin: 40px 0;
  line-height: 0.9;
}
.section-5 .subtitle {
  text-align: center;
  font-size: 42px;
  margin: 20px 0;
}
.section-5 .row{
  margin-top: 30px;
}
.section-5 .row .col-md-6:first-child{
  border-right: 1px solid white;
}
.section-5 .video-box{
  margin: 0px auto;
  position: relative;
  width: 90%;
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.2);
  padding-bottom: 50.2%;
  margin-top:30px;
}
.section-5 .video-box iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}
.section-5 .text-box{
  text-align: center;
}

.section-5 .text-box  p .main-btn{
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
}
.section-5 .text-box  p.sec{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
.section-5 .text-box .second-btn{
  font-size: 50px;
  padding: 2px 50px;
  border-radius: 50px;
  margin: 40px auto 0;
}
.section-5 .text-box  p .second-btn small{
  font-family: 'Kittithada Medium 65 (  65)';
}
.section-5-2{
  padding: 60px 0;
}
.section-5-2 .title-section-content{
  font-family: 'Kittithada Bold 75 (  75)';
  font-size: 55px;
}
.section-5-2 .title-section-content img{
  width: 70px;
  height: 70px;
  margin-top: -15px;
}
.section-5-2 .box{
  width: 530px;
  margin: 50px auto 0;
}
.section-5-2 .box .between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}
.section-5-2 .box .main-btn{
  padding: 6px 50px;
  font-size: 30px;
  font-weight: bold;
}
.section-5-2 .box .full-width{
  width: 100%;
}
.font-50{
  font-size: 45px !important;
}
.footer-icon{
  width: 50px;
  height: 50px;
} 
.footer-btn{
  background: rgb(17,35,72);
background: linear-gradient(90deg, rgba(17,35,72,1) 74%, rgba(30,73,127,1) 100%);
border:none;
font-size:28px;
line-height: 1;
padding: 5px 30px;
border-radius: 20px;
border:none;
color: white !important;
text-decoration: none;
display: inline-block;
}
.footer-caution {
  text-align: left;
  margin-top: 15px;
}
.footer-caution .head{
  font-size:28px;
}
.footer-caution .desc{
  font-size:26px;
  font-weight: bold;
}